.ModernTextField{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;

    label {
        &.Mui-focused {
            color: #FFBA55;
        }

        &:focus {
            svg {
                font-size: 20px;
                padding: 20px 0px;
                color: hsla(36, 100%, 67%, 0.80);
            }
        }
        
    }

    input {
        padding: 10px 0px;
    }

    .MuiInput-underline {

        &:after {
            border-bottom: 2px solid #FFBA55;
        }
    }

    @media screen and (max-width: 400px) and (min-width: 375px) {
        width: 200px;
    }

    @media screen and (max-width: 375px) and (min-width: 300px) {
        width: 180px;
    }

}