.PasswordField {
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiFormControl-root {
        width: 210px !important;
        padding: 10px 0px;
        margin: 0px 14px;

        .MuiInput-underline {

            &:after {
                border-bottom: 2px solid #FFBA55;
            }
        }

    }

    svg {
        user-select: none;
        cursor: pointer;
    }


    @media screen and (max-width: 565px) and (min-width: 520px) {

        .MuiFormControl-root {
            width: 170px !important;
        }

    }

}